<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.aircas.fileManager.web.dao.DatabaseMapper">
    <select id="selectTableNames" resultType="String">
        select tablename from pg_tables WHERE schemaname='public' AND tablename like 'file%'
    </select>
</mapper>
